.main{
    background-color: #00b7ff8a; 
}
.promo{
    background-color: #b9e6f88a; 
}
.hero{
    background-color: #b9e6f88a;
}
.promo__head{
    height: 100%; 
    width: 400%;
}
.promo__text{
    height: 100%; 
    width: 400%;
}
.promo__button{
   height: 100%; 
    width: 400%; 
}
.promo__button{
    height: 100%; 
    width: 400%; 
}
.hero__head{
    height: 100%; 
    width: 400%;
}
.hero__button{
    height: 100%; 
    width: 400%;
}
.hero__button{
    height: 100%; 
    width: 400%;
}
.hero__button{
    height: 100%; 
    width: 400%;
}